.main2 {
  margin: 0 auto;
  max-width: 500px;
  padding: 40px;
  padding-bottom: 100px;
  background-color: #74959a;
  color: var(--color-primary);
  padding: 40px;
  box-shadow: var(
    --menuBoxShadow,
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24)
  );
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  width: 100%;
  padding: 5px;
  border: 2px solid #49537194;
  border-radius: 4px;
  background-color: #f8f8f8;

  box-sizing: border-box;
}

label {
  width: 100%;
  padding: 10px;
}

button {
  width: 30%;
  padding: 6px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f1e0ac;
  color: #495371;
  border: 2px solid #49537194;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #49537194;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #f1e0ac;
  resize: none;
}
