.videos {
  display: flex;
  max-width: none;
  width: auto;
  padding: 2em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.video {
  margin: 1em;
  background-color: #74959a;
  padding: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

h1,
h3 {
  color: #f1e0ac;
  margin-bottom: 0;
}

h3 {
  font-weight: 200;
  font-style: italic;
  margin-top: 0;
}

iframe {
  margin-top: 13px;
}
.music {
  margin: 0 auto;
  justify-content: center;
}
